!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %p
      = "#{@user.username} #{t('authentication.has_requested')}"
      
    %p= t('email.to_change')
      
    %a{href: @password_reset_url}
      = t('email.reset_password')
    %p= t('email.if_you_didnt_request')
      