!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body{style: "font-family: Helvetica"}
    %h2= " #{t('score_boards.your_board')} #{@score_board.name} #{t('notices.has_been_completed')} "
    %p= t('email.please_pay', record: "#{@score_board.type}")
    %h3= t('email.transfer')
    %p Discount Bank, account number: 124752065 
    %br/
    %p= "#{t('email.you_will_be_informed')} Bracket2014"
    %p= t('email.thank_you_enroll_more')