!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body{style: "font-family: Helvetica"}
    %h2
      Tu quiniela #{@score_board.name} ha sido completada 
    %p
      = t('email.please_pay', record: "#{@score_board.type}")
    %h3 Transferencia o dep칩sito en moneda local:
    %p Se puede hacer el pago en Bs al cambio del dia = Dollar Today + 5 puntos. 
    %p Datos de la cuenta: 01080521060100041696 Sonny Milhem Banco Provincial CI: V-16.286.051
    %p Cualquier duda comunicarse con Sonny Milhem al +58 414 3968239 o responda a este correo electr칩nico: quinielatupote@gmail.com. Le responderemos lo m치s pronto posible.
    %h3 Transferencia en moneda extranjera:
    %p Account number: 009487083370, Routing number: 026009593. Bank of america. Sonny Milhem. Direcci칩n: 21205 Yacht club Dr Apt 408
    %br/
    %p= "#{t('email.you_will_be_informed')} TuPote"
    %p= t('email.thank_you_enroll_more')