!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body{style: "font-family: Helvetica"}
    %h2= "#{t('score_boards.your_board')} #{@score_board.name} #{t('score_boards.is_active')} "
    %p= t('email.thanks_for_your_payment')
    %br/
    %p= "#{t('email.youre_enrolled')} TuPote #{@score_board.type}"
    %p= t('email.points_will_be_updated')

    %p= t('email.thank_you_enroll_more')