%h6= "#{t('notices.welcome')} #{@user.username}"


- if @user.is_admin?
  %h6
    =link_to "#{@score_boards.first.name}", tournament_score_board_path(@score_boards.first.tournament,@score_boards.first.tournament)

- else 
  - unless @score_boards.nil?
    %h2= t('score_boards.your_boards')
    %table.table
      %th
        %h5= t('score_boards.board')
      %th
        %h5= t('general.status')
      %th
        %h5= t('welcome.punctuation')
      %th
        %h5= t('general.position')
      %tbody
        - @score_boards.each do |score_board|
          %tr
            - if score_board.is_published?
              %td
                %h6 
                  = link_to "#{score_board.name}", show_after_published_score_board_path(score_board)
            - else
              %td
                %h6
                  = link_to "#{score_board.name}", user_score_board_path(@user,score_board)
            %td
              %h6= score_board.status
            %td
              %h6= score_board.points.nil? ? "-" : score_board.points
            %td
              %h6= score_board.position.nil? ? "-" : score_board.position

  %h2
    %a#new_scoreboard_link{href: "#"}
      = t('score_boards.add')

  %hr
  #new_scoreboard{style: "display:none"}
    %h2= t('score_boards.add')
    = form_for([@user, @user.score_boards.build]) do |f|
      %p
        = f.label :name, "#{t('score_boards.name')}"
        %br/
        = f.text_field :name, required: true
        %p= t('notices.score_board_names')

      = f.label :board_type, "#{t('score_boards.type')}", required: true
      %br/
      - # This can be a select if it has more options
      = f.radio_button :board_type, "0", checked: true
      %p= 'General (300 ILS)'
      =f.hidden_field :is_active, value: false
      = f.hidden_field :tournament_id, value: current_tournament.id
      = f.hidden_field :points, value: 0
      %p
        = f.submit "#{t('score_boards.create')}"

- content_for(:javascript) do

  :coffeescript
    jQuery("#new_scoreboard_link").on 'click', (event) ->
      event.preventDefault()
      jQuery("#new_scoreboard").toggle()