%p Bienvenido :) #{@user.username}

- if @user.is_admin?
  %h6
    =link_to "#{@score_boards.first.name}", tournament_score_board_path(@score_boards.first.tournament,@score_boards.first.tournament)

- else 

  - @score_boards.each unless @score_boards.nil? do |score_board|
    %h6
      =link_to "#{score_board.name}", user_score_board_path(@user,score_board)
  %a#new_scoreboard_link{href: "#"}
    Agregar una nueva quiniela

  %hr
  #new_scoreboard{style: "display:none"}
    %h2 Agregar una Quiniela:
    = form_for([@user, @user.score_boards.build]) do |f|
      %p
        = f.label :name
        %br/
        = f.text_field :name, required: true
        %p Remember that your scoreboards should have different names!

      = f.label :board_type, "Amount to bet", required: true
      %br/
      - # This can be a select if it has more options
      = f.radio_button :board_type, "0", checked: true
      %p= '50 USD'
      = f.radio_button :board_type, "1"
      %p= '200 USD'
      =f.hidden_field :is_active, value: false
      = f.hidden_field :tournament_id, value: current_tournament.id
      %p
        = f.submit

- content_for(:javascript) do

  :coffeescript
    jQuery("#new_scoreboard_link").on 'click', (event) ->
      event.preventDefault()
      console.log "hols"
      jQuery("#new_scoreboard").toggle()