#accordion.panel-group
  - @extra = ExtraPhase.new
  - unless @score_board.extra_phase.nil?
    - @extra = @score_board.extra_phase

  .row
    = form_for @extra, remote: true  do |f|
      .span12
        %h3 Mejor goleador
        .span3
          = f.text_field :best_player_id
        .span6
          = image_tag "Soccer-Ball.png", size: "50x50"      
      .span12
        %h3 Primer equipo con tarjeta roja
        .span3
          %input#red-card-label{type: 'text'}
          = f.hidden_field :red_card_team_id, required: true, id: "red-card", value: ""
        .span6
          = image_tag "red-card.gif", size: "50x70"           
      .span12
        %h3 Primer equipo con penal
        .span3
          %input#penal-label{type: 'text'}
          = f.hidden_field :penal_team_id, required: true, id: "penal", value: ""
        .span6
          = image_tag "penal.png", size: "100x100"           
      = f.hidden_field :score_board_id, value: @score_board.id
      .row.span12
        = f.submit "Guardar", class: 'btn btn-success', id: "extra-button"

- content_for(:javascript) do

  :coffeescript
    $(document).ready ->
      console.log "I'm in extra"
      $("#red-card-label").autocomplete(
        source: "#{teams_extra_phase_path}"
        select: (event, ui) ->
          $("#red-card" ).val( ui.item.id );
      )
      $("#penal-label").autocomplete(
        source: "#{teams_extra_phase_path}"
        select: (event, ui) ->
          $("#red-card" ).val( ui.item.id );
      )
      $("#extra-button").on "click", ->
        if $("#penal").val() == ""
          console.log "It's empty"
          $("#penal-label").addClass("has-error-border")
          $("#penal-label").parent().append("<label for='extra_phase[penal_team_id]' class='error'>Este campo es obligatorio.</label>")
        if $("#red-card").val() == ""
          $("#red-card-label").addClass("has-error-border")
          $("#red-card-label").parent().append("<label for='extra_phase[red_card_team_id]' class='error'>Este campo es obligatorio.</label>")

