%ul.nav.nav-tabs.phases
  %li.active
    %a{:href => "#tabs-1", "data-toggle" => "tab", "id" => "tabs-groups"}="Etapa de Grupos"
  %li
    %a{:href => "#tabs-2", "data-toggle" => "tab", "id" => "tabs-r16"}= "Octavos de Final"
  %li
    %a{:href => "#tabs-3", "data-toggle" => "tab", "id" => "tabs-quarter"}="Cuartos de final"
  %li
    %a{:href => "#tabs-4", "data-toggle" => "tab", "id" => "tabs-semi"}="Semifinal"
  %li
    %a{:href => "#tabs-5", "data-toggle" => "tab", "id" => "tabs-final"}="3er puesto y Final"
  / %li
  /   %a{:href => "#tabs-6", "data-toggle" => "tab", "id" => "tabs-final"}="Extra"



.tab-content
  #tabs-1.tab-pane.active
    #accordion.panel-group
      = render "score_boards/show_groups", groups: @groups, is_main: false

  #tabs-2.tab-pane

  #tabs-3.tab-pane
    %p Por favor, rellene todos los resultados de los octavos de final
  #tabs-4.tab-pane
    %p Por favor, rellene todos los resultados de los cuartos de final
  #tabs-5.tab-pane
    %p Por favor, rellene todos los resultados de semifinales
  / #tabs-6.tab-pane
  /   = render "score_boards/extra", is_main: false  
- content_for(:javascript) do
  :coffeescript
  
    jQuery('#tabs-r16').click ->
     # Get the URL for the action thats going to be executed when clicked this tab
     jQuery('#tabs-2').html("#{escape_javascript render 'shared/loader'}")
     jQuery.get('#{show_round_of_16_score_board_path(@score_board)}')

    jQuery("#tabs-quarter").click ->
      jQuery('#tabs-3').html("#{escape_javascript render 'shared/loader'}")
      # Get the URL for the action thats going to be executed when clicked this tab
      jQuery.get('#{show_quarter_finals_score_board_path(@score_board)}')

    jQuery("#tabs-semi").click ->
      jQuery('#tabs-4').html("#{escape_javascript render 'shared/loader'}")
      # Get the URL for the action thats going to be executed when clicked this tab
      jQuery.get('#{show_semi_finals_score_board_path(@score_board)}')

    jQuery("#tabs-final").click ->
      jQuery('#tabs-5').html("#{escape_javascript render 'shared/loader'}")
      # Get the URL for the action thats going to be executed when clicked this tab
      jQuery.get('#{show_finals_score_board_path(@score_board)}')  