%ul.nav.nav-tabs.phases
  %li.active
    %a{:href => "#tabs-1", "data-toggle" => "tab", "id" => "tabs-groups"}= t('phases.groups')
  %li
    %a{:href => "#tabs-2", "data-toggle" => "tab", "id" => "tabs-r16"}= t('phases.round_of_16')
  %li
    %a{:href => "#tabs-3", "data-toggle" => "tab", "id" => "tabs-quarter"}= t('phases.quarter_finals')
  %li
    %a{:href => "#tabs-4", "data-toggle" => "tab", "id" => "tabs-semi"}= t('phases.semi_finals')
  %li
    %a{:href => "#tabs-5", "data-toggle" => "tab", "id" => "tabs-final"}= t('phases.third_place_and_finals')
  %li
    %a{:href => "#tabs-6", "data-toggle" => "tab", "id" => "tabs-final"}= t('phases.extra')



.tab-content
  #tabs-1.tab-pane.active
    #accordion.panel-group
      = render "score_boards/show_groups", groups: @groups, is_main: false

  #tabs-2.tab-pane

  #tabs-3.tab-pane
    %p= t('notices.please_fill_out', record: t('phases.round_of_16'))
  #tabs-4.tab-pane
    %p= t('notices.please_fill_out', record: t('phases.quarter_finals'))
  #tabs-5.tab-pane
    %p= t('notices.please_fill_out', record: t('phases.semi_finals'))
  #tabs-6.tab-pane
    = render "score_boards/extra", is_main: false  
- content_for(:javascript) do
  :coffeescript
  
    jQuery('#tabs-r16').click ->
     # Get the URL for the action thats going to be executed when clicked this tab
     jQuery('#tabs-2').html("#{escape_javascript render 'shared/loader'}")
     jQuery.get('#{show_round_of_16_score_board_path(@score_board)}')

    jQuery("#tabs-quarter").click ->
      jQuery('#tabs-3').html("#{escape_javascript render 'shared/loader'}")
      # Get the URL for the action thats going to be executed when clicked this tab
      jQuery.get('#{show_quarter_finals_score_board_path(@score_board)}')

    jQuery("#tabs-semi").click ->
      jQuery('#tabs-4').html("#{escape_javascript render 'shared/loader'}")
      # Get the URL for the action thats going to be executed when clicked this tab
      jQuery.get('#{show_semi_finals_score_board_path(@score_board)}')

    jQuery("#tabs-final").click ->
      jQuery('#tabs-5').html("#{escape_javascript render 'shared/loader'}")
      # Get the URL for the action thats going to be executed when clicked this tab
      jQuery.get('#{show_finals_score_board_path(@score_board)}')  