- groups.each_with_index do |g,i| 
  .panel.panel-default{"data-group" => g.id, "data-scoreboard" => @score_board.id, id: g.id}
    .panel-heading
      %h4.panel-title
        %a{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#collapse#{i}"}
          %h3= "Group " + g.name
    .panel-collapse.collapse.in{id: "collapse#{i}"}
      .panel-body
        - matches = g.matches_for_score_board_group(@score_board)
        .span7
          - matches.each_with_index do |m,i|
            .row
              - team_1 = m.team_1
              - team_2 = m.team_2
              - @score = m.score
              - @score = Score.new if m.score.nil?
              .span3.team-name
                %p= team_1.name
                = image_tag team_1.flag
              .span6
                = form_for @score, remote: true  do |f|
                  .span5
                    = f.text_field :team_1_goals, required: true, class: "form-control form-input"
                    %p= m.day
                    %p= m.city
                  .span1
                    %p{style: "display:inline;"} -
                  .span5
                    = f.text_field :team_2_goals, required: true, class: "form-control form-input"
                    %p= m.time
                  = f.hidden_field :scoreboard_id, value: @score_board.id
                  = f.hidden_field :match_id, value: m.id
                  = f.hidden_field :can_change, value: true
                  - if !is_main
                    .div{style: "visibility:hidden;"}
                      = f.submit "#{t('general.save')}", class: "scores"
                  - else
                    - if @score.can_change || @score.id.nil?
                      .span2
                        .loader-position
                      = f.submit "#{t('general.save')}", class: "scores btn btn-success"


              .span3.team-2-name
                %p= m.team_2.name
                = image_tag team_2.flag
          .row.span3
            - if !is_main
              %button.btn.btn-success{class: "js-save-group"}
                = t('general.save')
          .row.span3
            .loader-position
            
        .span5
          %table.table{style: "float:right"}
            %thead
              %th= t('teams.teams')
              %th{title: t('teams.played_games')}= t('teams.played_games_short')
              %th{title: t('teams.won_games')}= t('teams.won_games_short')
              %th{title: t('teams.tied_games')}= t('teams.tied_games_short')
              %th{title: t('teams.lost_games')}= t('teams.lost_games_short')
              %th{title: t('teams.goals_favor')}=t('teams.goals_favor_short')
              %th{title: t('teams.goals_aggainst')}= t('teams.goals_aggainst_short')
              %th{title: t('teams.diff_goals')}= t('teams.diff_goals_short')
              %th{title: t('teams.points')}= t('teams.points_short')
              %th
              %th{title: t('teams.position')}= t('teams.position_short') 
            %tbody
              - g.teams.each_with_index do |t, index|
                - ts = t.team_stats.where(score_board_id: @score_board.id).first
                - check = false
                - if ts.position != 0
                  - g.teams.each do |t1|
                    - t1s = t1.team_stats.where(score_board_id: @score_board.id).first
                    - unless t1s == ts
                      - if ts.same_position_as(t1s)
                        - check = true
                %tr
                  %td= t.name
                  %td{id: t.id.to_s + "J"}= ts.played_games
                  %td{id: t.id.to_s + "G"}= ts.won_games
                  %td{id: t.id.to_s + 'E'}= ts.tied_games
                  %td{id: t.id.to_s + 'P'}= ts.lost_games
                  %td{id: t.id.to_s + 'GF'}= ts.goals_favor
                  %td{id: t.id.to_s + 'GC'}= ts.goals_aggainst
                  %td{id: t.id.to_s + 'DIF'}= ts.goals_favor - ts.goals_aggainst
                  %td{id: t.id.to_s + 'PTS'}= ts.points
                  %td{id: t.id.to_s + 'LD'}= ts.final_position
                  - if check
                    %td{id: t.id.to_s + 'final'}
                      %input.col-xs-4.checkbox-team-stat{type: 'text', class: "team-s-#{g.id}", "data-id" => ts.id, "data-order-number" => "0"}
                      .status-input
          .positions-equal
            %p= t('notices.refresh_page_on_tie')

- if is_main
  .row.span10
    .loader-position-phase
    .message-position
  - disabled_class = ''
  - if current_tournament.current_phase > Match::GROUP_MAIN
    - disabled_class = 'disabled'
  = link_to finish_phase_score_board_path(@score_board, :phase => Match::R16_MAIN), class: "js-finish-phase", remote: true do
    %button.btn.btn-success{style: "float:right;", class: "#{disabled_class}"}
      = t('general.finish_phase')



- content_for(:javascript) do

  :coffeescript
    jQuery(".checkbox-team-stat").on 'change', ->
      team_stat_id = $(this).data("id")
      value = $(this).val()
      val = parseInt(value,10)
      if val not in [1...5]
        console.log "Not valid"
        $(this).addClass("has-error-border")
        $(this).siblings().html("<p class='alert-error-text'> #{t('notices.positions_rule')}</p>")
      else
        console.log team_stat_id
        url = '/team_stats/'+team_stat_id+'/change_position'
        data = {id: team_stat_id, value: value}

        jQuery.ajax(
          type: "POST",
          url: url,
          data: data
        )
        $(this).removeClass("has-error-border")
        $(this).siblings().html("<p class= 'alert-success-text'> #{t('notices.saved')} </p>")

    # Individual Scores -> Main
    jQuery(".scores").on 'click', ->
      console.log  "entre"
      jQuery(this).siblings().find(".loader-position").html("#{escape_javascript render 'shared/loader'}")
      $(this).closest("form").validate rules:
        'score[team_1_goals]':
          required: true
          min: 0
          number: true
        'score[team_2_goals]':
          required: true
          min: 0
          number: true
      $(this).closest("form").bind "ajax:complete", ->
        jQuery(".loader-position").empty()

        
    jQuery(".js-finish-phase").on 'click', ->
      jQuery(this).siblings().find(".loader-position-phase").html("#{escape_javascript render 'shared/loader'}")
      jQuery(this).siblings().find(".message-position").append("<p> #{t('notices.this_may_take_time')} </p>")
      
    jQuery(".js-save-group").click ->
      console.log "Pressed"
      $(this).addClass("disabled")
      scores = jQuery(this).parent().siblings().find("form")
      console.log (jQuery(this).parent().siblings().find(".loader-position"))

      scores.each (index) ->
        jQuery(".js-save-group").parent().siblings().find(".loader-position").html("#{escape_javascript render 'shared/loader'}")
        console.log "Verifico cada score"
        $(this).validate rules:
          'score[team_1_goals]':
            required: true
            min: 0
            number: true
          'score[team_2_goals]':
            required: true
            min: 0
            number: true
        $(this).submit()
      group_panel = $(this).closest('.panel-default')
      score_board_id = group_panel.data("scoreboard")
      group_id = group_panel.data("group")
      console.log score_board_id
      console.log group_id
      url = '/team_stats/update_team_stats'
      data = {group_id: group_id, score_board_id: score_board_id}

      jQuery.ajax(
        type: "POST",
        url: url,
        data: data
      )

