- groups.each_with_index do |g,i| 
  .panel.panel-default
    .panel-heading
      %h4.panel-title
        %a{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#collapse#{i}"}
          %h3= "Group " + g.name
    .panel-collapse.collapse.in{id: "collapse#{i}"}
      .panel-body
        - matches = g.matches_for_score_board_group(@score_board)
        .span7
          - matches.each_with_index do |m,i|
            .row
              - team_1 = m.team_1
              - team_2 = m.team_2
              - score = m.score
              .span3.team-name
                %p= team_1.name
                = image_tag team_1.flag
              .span6
                .span5
                  %p.score-style= score.team_1_goals unless score.nil?
                  %p= m.day
                  %p= m.city
                .span1
                  %p{style: "display:inline;"} -
                .span5
                  %p.score-style= score.team_2_goals unless score.nil?
                  %p= m.time
              .span3.team-2-name
                %p= m.team_2.name
                = image_tag team_2.flag

        .span5
          %table.table{style: "float:right"}
            %thead
              %th= t('teams.teams')
              %th{title: t('teams.played_games')}= t('teams.played_games_short')
              %th{title: t('teams.won_games')}= t('teams.won_games_short')
              %th{title: t('teams.tied_games')}= t('teams.tied_games_short')
              %th{title: t('teams.lost_games')}= t('teams.lost_games_short')
              %th{title: t('teams.goals_favor')}=t('teams.goals_favor_short')
              %th{title: t('teams.goals_aggainst')}= t('teams.goals_aggainst_short')
              %th{title: t('teams.diff_goals')}= t('teams.diff_goals_short')
              %th{title: t('teams.points')}= t('teams.points_short')
              %th
            %tbody
              - g.teams.each do |t|
                - ts = t.team_stats.where(score_board_id: @score_board.id).first
                %tr
                  %td= t.name
                  %td{id: t.id.to_s + "J"}= ts.played_games
                  %td{id: t.id.to_s + "G"}= ts.won_games
                  %td{id: t.id.to_s + 'E'}= ts.tied_games
                  %td{id: t.id.to_s + 'P'}= ts.lost_games
                  %td{id: t.id.to_s + 'GF'}= ts.goals_favor
                  %td{id: t.id.to_s + 'GC'}= ts.goals_aggainst
                  %td{id: t.id.to_s + 'DIF'}= ts.goals_favor - ts.goals_aggainst
                  %td{id: t.id.to_s + 'PTS'}= ts.points
                  %td{id: t.id.to_s + 'LD'}= ts.final_position
