#accordion.panel-group
  - matches.each_with_index do |m,i|
    .row
      - team_1 = m.team_1
      - team_2 = m.team_2
      - @score = m.score
      - @score = Score.new if m.score.nil?
      .span3.team-name
        %p= team_1.name
        = image_tag team_1.flag
      .span6
        = form_for @score, remote: true  do |f|
          .span5
            = f.text_field :team_1_goals, required: true, class: "form-control form-input"
            %p= m.day
            %p= m.city
          .span1
            %p{style: "display:inline;"} -
          .span5
            = f.text_field :team_2_goals, required: true, class: "form-control form-input"
            %p= m.time
          = f.hidden_field :scoreboard_id, value: @score_board.id
          = f.hidden_field :match_id, value: m.id
          - if !@is_main
            .div{style: "visibility:hidden;"}
              = f.submit 'Save', class: "scores-final"
          - else
            = f.submit "Guardar", class: "scores-final btn btn-success"
      .span3.team-2-name
        %p= m.team_2.name
        = image_tag team_2.flag
  - if !@is_main
    .row.span11
      %button.btn.btn-success{class: "js-save-final"}
        Guardar
  .row.span11
    = form_for @score_board do |f|
      = f.hidden_field :is_published, value: true
      = f.submit 'Publicar', class: "button btn btn-success", style: "float: right"

:coffeescript
  jQuery(document).ready ->
    jQuery(".js-save-final").click ->
      scores = jQuery(".scores-final")
      scores.each ->
        $(this).click()