#accordion.panel-group
  - matches.each_with_index do |m,i|
    .row
      - team_1 = m.team_1
      - team_2 = m.team_2
      - @score = m.score
      - @score = Score.new if m.score.nil?
      .span3.team-name
        %p= team_1.name
        = image_tag team_1.flag
      .span6
        = form_for @score, remote: true  do |f|
          .span5
            = f.text_field :team_1_goals, required: true, class: "form-control form-input"
            %p= m.day
            %p= m.city
          .span1
            %p{style: "display:inline;"} -
          .span5
            = f.text_field :team_2_goals, required: true, class: "form-control form-input"
            %p= m.time
          = f.hidden_field :scoreboard_id, value: @score_board.id
          = f.hidden_field :match_id, value: m.id
          - if !@is_main
            .div{style: "visibility:hidden;"}
              = f.submit 'Save', class: "scores-quarter"
          - else
            .span2
              .loader-position 
            = f.submit "Guardar", class: "scores-quarter btn btn-success"
      .span3.team-2-name
        %p= m.team_2.name
        = image_tag team_2.flag
  .row.span11
    - if !@is_main
      %button.btn.btn-success{class: "js-save-quarter", style: "float:right;"}
        Guardar
    - else
      .row.span10
        .loader-position-phase
      = link_to finish_phase_score_board_path(@score_board, :phase => Match::SEMI_MAIN), class: "js-finish-phase", remote: true do
        %button.btn.btn-success{style: "float:right;"}
          Terminar etapa
  .row.span10.loader-row
    .loader-position{style: "float: right;"}


:coffeescript
  jQuery(document).ready ->

    jQuery(".js-save-quarter").click ->
      scores = jQuery(".scores-quarter")
      jQuery(this).parent().siblings().find(".loader-position").html("#{escape_javascript render 'shared/loader'}")     
      scores.each ->
        $(this).closest("form").validate rules:
          'score[team_1_goals]':
            required: true
            min: 0
            isTie:
              param: 2
          'score[team_2_goals]':
            required: true
            min: 0
            isTie:
              param: 1
        $(this).closest("form").bind "ajax:complete", ->
          jQuery(".loader-position").empty()
        $(this).click()

    jQuery(".js-finish-phase").on 'click', ->
      jQuery(this).siblings().find(".loader-position-phase").html("#{escape_javascript render 'shared/loader'}")
      jQuery(".js-finish-phase > .btn ").addClass("disabled")

    # Individual Scores -> Main
    jQuery(".scores-quarter").on 'click', ->
      jQuery(this).siblings().find(".loader-position").html("#{escape_javascript render 'shared/loader'}")