#accordion.panel-group
  - matches.each_with_index do |m,i|
    .row
      - team_1 = m.team_1
      - team_2 = m.team_2
      - score = m.score
      .span3.team-name
        %p= team_1.name
        = image_tag team_1.flag
      .span6
        .span5
          %p.score-style= score.team_1_goals
          %p= m.day
          %p= m.city
        .span1
          %p{style: "display:inline;"} -
        .span5
          %p.score-style= score.team_2_goals
          %p= m.time
      .span3.team-2-name
        %p= m.team_2.name
        = image_tag team_2.flag
