- @score_boards.each do |score_board|
  %h6
    - if score_board.is_published?
      %h6 
        = link_to "#{score_board.name}", show_after_published_score_board_path(score_board)
    - else
      %h6
        =link_to "#{score_board.name}", user_score_board_path(current_user,score_board)


- unless @user.is_admin?
  %a#new_scoreboard_link{href: "#"}
    Agregar una nueva quiniela

  %hr
  #new_scoreboard{style: "display:none"}
    %h2 Agregar una Quiniela:
    = form_for([@user, @user.score_boards.build]) do |f|
      %p
        = f.label :name, "Nombre"
        %br/
        = f.text_field :name, required: true
        %p Recuerda que tus quinielas deben tener nombres distintos

      = f.label :board_type, "Tipo de quiniela", required: true
      %br/
      - # This can be a select if it has more options
      = f.radio_button :board_type, "0", checked: true
      %p= 'General (50 USD)'
      = f.radio_button :board_type, "1"
      %p= 'High Roller (200 USD)'
      =f.hidden_field :is_active, value: false
      = f.hidden_field :tournament_id, value: current_tournament.id
      %p
        = f.submit "Crear quiniela"



- content_for(:javascript) do

  :coffeescript
    jQuery("#new_scoreboard_link").on 'click', (event) ->
      event.preventDefault()
      console.log "hols"
      jQuery("#new_scoreboard").toggle()
