%h1= t('menu.score_boards_admin')

%p= t('notices.activate_score_board')
%p.white-text= t('notices.activate_email')
.col-xs-6
  %h4= t('score_boards.to_activate')
  %table.table
    %thead
      %th= t('score_boards.to_activate')
      %th= t('users.user')
      %th= t('users.email')
      %th= t('general.activate')
      %th= t('general.destroy')
    %tbody
      - if @score_boards_not_active.empty?
        %tr
          %td
            %p= t('notices.no_score_boards_to_activate')

      - @score_boards_not_active.each do |score_board|
        %tr{id: score_board.id}
          %td= link_to score_board.name, user_score_board_path(score_board.user, score_board)
          %td= link_to score_board.user.username, user_path(score_board.user)
          %td= link_to score_board.user.email, user_path(score_board.user)
          %td
            = form_for score_board, url: update_active_score_board_path(score_board), remote: true do |f|
              = f.check_box :is_active, class: "checkbox-score-board"
              .div{style: "visibility:hidden;"}
                = f.submit "Save", class: "score-board"
          %td=link_to "#{t('general.destroy')}", user_score_board_path(score_board.user,score_board), method: :delete, data: {confirm: 'Seguro que quieres eliminar esta quiniela?'}
  .message-position

.col-xs-6
  %h4= t('score_boards.active')
  %table.table#active
    %thead
      %th= t('score_boards.active')
      %th= t('users.user')
      %th= t('users.email')
      %th= t('general.destroy')
    %tbody
      - if @score_boards_active.empty?
        %tr 
          %td
            %p= t('notices.no_active_score_boards')
      - @score_boards_active.each do |score_board|
        %tr
          %td= link_to score_board.name, user_score_board_path(score_board.user, score_board)
          %td= link_to score_board.user.username, user_path(score_board.user)
          %td= link_to score_board.user.email, user_path(score_board.user)
          %td= link_to "#{t('general.destroy')}", user_score_board_path(score_board.user,score_board), method: :delete, data: {confirm: 'Seguro que quieres eliminar esta quiniela?'}

- content_for(:javascript) do
  :coffeescript
    jQuery(document).ready ->
      jQuery(".checkbox-score-board").on 'change', ->
        scores = $(this).siblings().find('.score-board')[0]
        console.log("scores "+ scores)
        scores.click()