- if @is_main
  %h2= "#{t('menu.official_results')} #{t('general.from_2')} #{t('tournaments.worldcup')}"
- else
  %h2= "#{t('score_boards.score_board')} #{@score_board.name} #{t('general.from')} #{@user.username}"
%h3.white-text= " #{t('general.status')}: #{@status}" 
%ul.nav.nav-tabs
  %li.active
    %a{:href => "#tabs-1", "data-toggle" => "tab", "id" => "tabs-groups"}= t('phases.groups')
  %li
    %a{:href => "#tabs-2", "data-toggle" => "tab", "id" => "tabs-r16"}= t('phases.round_of_16')
  %li
    %a{:href => "#tabs-3", "data-toggle" => "tab", "id" => "tabs-quarter"}= t('phases.quarter_finals')
  %li
    %a{:href => "#tabs-4", "data-toggle" => "tab", "id" => "tabs-semi"}= t('phases.semi_finals')
  %li
    %a{:href => "#tabs-5", "data-toggle" => "tab", "id" => "tabs-final"}= t('phases.third_place_and_finals')
  %li
    %a{:href => "#tabs-6", "data-toggle" => "tab", "id" => "tabs-final"}= t('phases.extra')

.tab-content
  #tabs-1.tab-pane.active
    #accordion.panel-group
      = render "score_boards/show_groups_published", groups: @groups

  #tabs-2.tab-pane
    = render "score_boards/show_second_phase_published", matches: @matches_r16
  #tabs-3.tab-pane
    = render "score_boards/show_second_phase_published", matches: @matches_quarters
  #tabs-4.tab-pane
    = render "score_boards/show_second_phase_published", matches: @matches_semi
  #tabs-5.tab-pane
    = render "score_boards/show_finals_published", final: @final, third: @third
  #tabs-6.tab-pane
    = render "score_boards/show_extra_published", extra: @extra
