%h1 Administración de quinielas

%p Seleccione las quinielas por activar y automáticamente serán activadas
.col-xs-6
  %table.table
    %th Quinielas por activar
    %tbody
      %tr
      - if @score_boards_not_active.empty?
        %td
          %p No hay quinielas por activar

      - @score_boards_not_active.each do |score_board|
        %td= link_to score_board.name, user_score_board_path(score_board.user, score_board)
        %td
          = form_for score_board, remote: true do |f|
            = f.check_box :is_active, class: "checkbox-score-board"
            .div{style: "visibility:hidden;"}
              = f.submit "Save", class: "score-board"


.col-xs-6
  %table.table
    %th Quinielas activas
    %tbody
      %tr
      - if @score_boards_active.empty?
        %td
          %p No hay quinielas activas
      - @score_boards_active.each do |score_board|
        %td= link_to score_board.name, user_score_board_path(score_board.user, score_board)

- content_for(:javascript) do
  :coffeescript
    jQuery(document).ready ->
      jQuery(".checkbox-score-board").on 'change', ->
        console.log("Entreee")
        scores = $(this).siblings().find('.score-board')[0]
        console.log("scores "+ scores)
        scores.click()