- if @is_main
  %h2 Resultados oficiales del Mundial FIFA 2014
- else
  %h2 Quiniela "#{@score_board.name}" de #{@user.username}
%h3.white-text  Estado: "#{@status}" 
%ul.nav.nav-tabs
  %li.active
    %a{:href => "#tabs-1", "data-toggle" => "tab", "id" => "tabs-groups"}="Etapa de Grupos"
  %li
    %a{:href => "#tabs-2", "data-toggle" => "tab", "id" => "tabs-r16"}= "Octavos de Final"
  %li
    %a{:href => "#tabs-3", "data-toggle" => "tab", "id" => "tabs-quarter"}="Cuartos de final"
  %li
    %a{:href => "#tabs-4", "data-toggle" => "tab", "id" => "tabs-semi"}="Semifinal"
  %li
    %a{:href => "#tabs-5", "data-toggle" => "tab", "id" => "tabs-final"}="3er puesto y Final"
  %li
    %a{:href => "#tabs-6", "data-toggle" => "tab", "id" => "tabs-extra"}="Extra"


.tab-content
  #tabs-1.tab-pane.active
    #accordion.panel-group
      = render "score_boards/show_groups_published", groups: @groups

  #tabs-2.tab-pane.white-text  
    = render "score_boards/show_second_phase_published", matches: @matches_r16
  #tabs-3.tab-pane.white-text
    = render "score_boards/show_second_phase_published", matches: @matches_quarters
  #tabs-4.tab-pane.white-text
    = render "score_boards/show_second_phase_published", matches: @matches_semi
  #tabs-5.tab-pane.white-text
    = render "score_boards/show_finals_published", final: @final, third: @third
  #tabs-6.tab-pane.white-text
    = render "score_boards/show_extra_published", extra: @extra
