%h1 Administración de quinielas

%p Seleccione las quinielas por activar y automáticamente serán activadas
%p.white-text Recuerde estar seguro de querer activarlas, ya que se envía un correo electrónico al usuario confirmando que la quiniela ha sido activada
.col-xs-6
  %h4 Quinielas por activar
  %table.table
    %th Quinielas por activar
    %th Usuario
    %th Email
    %th Activar
    %tbody
      - if @score_boards_not_active.empty?
        %tr
          %td
            %p No hay quinielas por activar

      - @score_boards_not_active.each do |score_board|
        %tr
          %td= link_to score_board.name, user_score_board_path(score_board.user, score_board)
          %td= link_to score_board.user.username, user_path(score_board.user)
          %td= link_to score_board.user.email, user_path(score_board.user)
          %td
            = form_for score_board, url: update_active_score_board_path(score_board), remote: true do |f|
              = f.check_box :is_active, class: "checkbox-score-board"
              .div{style: "visibility:hidden;"}
                = f.submit "Save", class: "score-board"
  .message-position

.col-xs-6
  %h4 Quinielas activas
  %table.table
    %th Quinielas activas
    %th Usuario
    %th Email
    %tbody
      - if @score_boards_active.empty?
        %tr 
          %td
            %p No hay quinielas activas
      - @score_boards_active.each do |score_board|
        %tr
          %td= link_to score_board.name, user_score_board_path(score_board.user, score_board)
          %td= link_to score_board.user.username, user_path(score_board.user)
          %td= link_to score_board.user.email, user_path(score_board.user)

- content_for(:javascript) do
  :coffeescript
    jQuery(document).ready ->
      jQuery(".checkbox-score-board").on 'change', ->
        scores = $(this).siblings().find('.score-board')[0]
        console.log("scores "+ scores)
        scores.click()