%h3 Esta es la Quiniela "#{@score_board.name}" de #{@user.username}

%ul.nav.nav-tabs
  %li.active
    %a{:href => "#tabs-1", "data-toggle" => "tab", "id" => "tabs-groups"}="Group Stage"
  %li
    %a{:href => "#tabs-2", "data-toggle" => "tab", "id" => "tabs-r16"}= "Round of 16"
  %li
    %a{:href => "#tabs-3", "data-toggle" => "tab", "id" => "tabs-quarter"}="Quarters"
  %li
    %a{:href => "#tabs-3", "data-toggle" => "tab", "id" => "tabs-quarter"}="Semi & Finals"

.tab-content
  #tabs-1.tab-pane.active
    #accordion.panel-group
    - @groups.each_with_index do |g,i| 
      .panel.panel-default
        .panel-heading
          %h4.panel-title
            %a{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#collapse#{i}"}
              %h3= "Group " + g.name
        .panel-collapse.collapse.in{id: "collapse#{i}"}
          .panel-body
            - matches = g.matches
            .col-xs-7
              - matches.each_with_index do |m,i|
                .row
                  - team_1 = m.team_1
                  - team_2 = m.team_2
                  - @score = m.score
                  - @score = Score.new if m.score.nil?
                  .col-xs-3.team-name
                    %p= team_1.name
                    = image_tag team_1.flag
                  .col-xs-6
                    = form_for @score, :url => scores_path, :method => :post, id: "new_score#{m.id}", remote: true  do |f|
                      .col-xs-5
                        = f.text_field :team_1_goals, required: true, class: "form-control form-input", id: "team_1##{m.id}"
                        %p= m.day
                        %p= m.city
                      .col-xs-2
                        %p{style: "display:inline;"} -
                      .col-xs-5
                        = f.text_field :team_2_goals, required: true, class: "form-control form-input" 
                        %p= m.time
                      = f.hidden_field :scoreboard_id, value: @score_board.id
                      = f.hidden_field :match_id, value: m.id
                      .div{style: "visibility:hidden;"}
                        = f.submit 'Save', class: "scores"
                  .col-xs-3.team-2-name
                    %p= m.team_2.name
                    = image_tag team_2.flag
            .col-xs-5
              %table.table{style: "float:right"}
                %thead
                  %th Teams
                  %th J
                  %th G
                  %th E
                  %th P
                  %th GF
                  %th GC
                  %th DIF
                  %th PTS
                %tbody
                  - g.teams.each do |t|
                    %tr
                      %td= t.name
                      %td{id: t.id.to_s + "J"} J
                      %td{id: t.id.to_s + "G"} G
                      %td{id: t.id.to_s + 'E'} E
                      %td{id: t.id.to_s + 'P'} P
                      %td{id: t.id.to_s + 'GF'} GF
                      %td{id: t.id.to_s + 'GC'} GC
                      %td{id: t.id.to_s + 'DIF'} DIF
                      %td{id: t.id.to_s + 'PTS'} PTS
            .row
              %button.btn.btn-success{id: "saveGroup#{i}"}
                Guardar
              

  #tabs-2.tab-pane
    %h1 Not yet 


- content_for(:javascript) do
  :coffeescript
    jQuery("#saveGroup0").click ->
      console.log "Me presionaron vale"
      scores = jQuery("form")
      jQuery("form").each (index) ->
        console.log index
        $(this).submit()