.main-content
  .row-fluid{style: "text-align:right; color:white;"}
    %p= "Participantes: #{User.count}"

  .row-fluid
    .span4
      .colored-circle.colored-circle-section.colored-circle-section-center.tournament-blue
        %h4 1er lugar
        %h1 55%
        %h4 del pote

    .span4
      .colored-circle.colored-circle-title.tournament-blue
        %a{href: "http://www.fifa.com/worldcup/", target: "_blank"}
          = image_tag "Brasil_2014.png", class: "logo-center clickable"

    .span4
      .colored-circle.colored-circle-section.colored-circle-section-center.tournament-blue
        %h4 2do lugar
        %h1 35%
        %h4 del pote
  .row-fluid.span12
    = image_tag "dots.png", class: "dots-image"
  .row-fluid
    .span4
      .colored-circle.colored-circle-subsection.colored-circle-subsection-center.tournament-blue
        %h5 General
        %h2 $50
    .span4#quinielas
      .colored-circle.colored-circle-middle-section.colored-circle-middle-section-center.tournament-blue
        %a{href: sign_up_path}
          %h2.expandable-h2 Arma tus quinielas
    .span4
      .colored-circle.colored-circle-subsection.colored-circle-subsection-center.tournament-blue
        %h5 High Roller
        %h2 $200
  .row-fluid.span12
    = image_tag "dots.png", class: "dots-image"
  .row-fluid

    .span4
    .span4
      .colored-circle.colored-circle-middle-section.colored-circle-middle-section-center.tournament-blue{style: "padding-left: 5px; padding-top: 57px;"}
        %a{href: ranking_score_boards_path}
          %h2.expandable-h2 Puntuación
    .span4

  .row-fluid
    .span4
      .colored-circle.colored-circle-section.colored-circle-section-center.special-section-circle.tournament-blue
        %h4 Fase de Grupos
    .span4
      .colored-circle.colored-circle-section.colored-circle-section-center.special-section-circle.tournament-blue
        %h4 Puntos extra
    .span4
      .colored-circle.colored-circle-section.colored-circle-section-center.special-section-circle.tournament-blue
        %h4 Fase de Eliminatorias

  .row-fluid.special-row
    .span4
      .colored-circle.colored-circle-section.colored-circle-section-center.tournament-blue-light
        %h6 Marcador Exacto
        %h5 5 puntos
    .span4
      .colored-circle.colored-circle-section.colored-circle-section-center.tournament-blue-light
        %h6 Goleador (Goles + Penales)
        %h5 7 puntos
        
    .span4
      .span6
        .colored-circle.colored-circle-section.colored-circle-section-center.tournament-blue-light
          %h6 Equipo en 8vos 
          %h5 4 puntos (por c/equipo)
      .span6
        .colored-circle.colored-circle-section.colored-circle-section-center.tournament-blue-light
          %h6 Equipo en 4tos
          %h5 5 puntos (por c/equipo)


  .row-fluid.special-row
    .span4
      .colored-circle.colored-circle-section.colored-circle-section-center.tournament-blue-light
        %h6 Marcador Dif Goles
        %h5 4 puntos
    .span4
      .colored-circle.colored-circle-section.colored-circle-section-center.tournament-blue-light
        %h6 Primer equipo con tarjeta roja
        %h5 5 puntos
    .span4
      .span6
        .colored-circle.colored-circle-section.colored-circle-section-center.tournament-blue-light
          %h6 Semi final
          %h5 6 puntos
      .span6
        .colored-circle.colored-circle-section.colored-circle-section-center.tournament-blue-dark
          %h6 3er lugar
          %h5 7 puntos

  .row-fluid.special-row
    .span4
      .colored-circle.colored-circle-section.colored-circle-section-center.tournament-blue-light
        %h6 Acertar ganador
        %h5 3 puntos
    .span4
      .colored-circle.colored-circle-section.colored-circle-section-center.tournament-blue-light
        %h6 Primer equipo que anota un gol de penal
        %h5 3 puntos
    .span4
      .span6
        .colored-circle.colored-circle-section.colored-circle-section-center.tournament-blue-dark
          %h6 Sub campeón
          %h5 8 puntos
      .span6
        .colored-circle.colored-circle-section.colored-circle-section-center.tournament-blue-dark
          %h6 Campeón
          %h5 9 puntos 
  .row-fluid.span12
    = image_tag "dots.png", class: 'dots-image'

  .row-fluid.span12.blue-text#reglas
    %h4 REGLAS DE LA QUINIELA

    %p - Tu Quiniela será válida desde el momento que se haya confirmado el pago (sin excepción).
    %p - Se aceptarán pagos para la Quiniela hasta el 10 de junio a las 8pm
    %p - Una vez enviada tu Quiniela definitiva no podrá ser modificada por ningún motivo.
    %p - La Quiniela de todos los participantes estarán publicadas en la página a partir del 12 de junio con los respectivos resultados y puntuaciones.
    %p - En caso de empate en el 1er lugar, se repartirá el POTE equitativamente entre las quinielas empatadas y no habrá 2do lugar.
    %p - En caso de empate en el 2do lugar, se repartirá el segundo premio equitativamente entre las quinielas empatadas.
    %p - En caso de empate en el "goleador", se otorgará la puntuación para todos los goleadores por igual.
    %p - Los premios a los ganadores se entregaran el día 16 de JULIO del 2014.


- content_for(:javascript) do
  :coffeescript
    $('#view-more-link').click (e) ->
      e.preventDefault();
      $('#view-more').toggle()
    $(window).load ->
      $(".clickable").each(->
        $.data this, "size",
          width: $(this).width()
          height: $(this).height()

        return
      ).hover (->
        $(this).stop().animate
          height: $.data(this, "size").height * 1.1
          width: $.data(this, "size").width * 1.1

        return
      ), ->
        $(this).stop().animate
          height: $.data(this, "size").height
          width: $.data(this, "size").width
        return

      $(".clickable-header").each(->
        $.data this, "size",
          width: $(this).width()
          height: $(this).height()

        return
      ).hover (->
        $(this).stop().animate
          height: $.data(this, "size").height * 1.05
          width: $.data(this, "size").width * 1.05

        return
      ), ->
        $(this).stop().animate
          height: $.data(this, "size").height
          width: $.data(this, "size").width

        return

    # For smooth scroll
    $(".scroll").click (event) ->
      event.preventDefault()
      
      #calculate destination place
      dest = 0
      if $(@hash).offset().top > $(document).height() - $(window).height()
        dest = $(document).height() - $(window).height()
      else
        dest = $(@hash).offset().top
      
      #go to destination
      $("html,body").animate
        scrollTop: dest
      , 800, "swing"
      return



