.main-content
  .row-fluid{style: "text-align:right; color:white;"}
    %p= "Quinielas actuales Pote General: #{user_count_general}"
    %p= "Quinielas actuales Pote High Roller: #{user_count_high_roller}"

  .row-fluid
    .span4
      .colored-circle.colored-circle-section.colored-circle-section-center.tournament-blue
        %h4= t('welcome.first_place')
        %h1 55%
        %h4= "#{t('general.from_2')} #{t('welcome.jackpot')}"

    .span4
      .colored-circle.colored-circle-title.tournament-blue
        %a{href: "http://www.fifa.com/worldcup/", target: "_blank"}
          = image_tag "Brasil_2014.png", class: "logo-center clickable"

    .span4
      .colored-circle.colored-circle-section.colored-circle-section-center.tournament-blue
        %h4= t('welcome.second_place')
        %h1 35%
        %h4= "#{t('general.from_2')} #{t('welcome.jackpot')}"
  .row-fluid.span12
    = image_tag "dots.png", class: "dots-image"
  .row-fluid
    .span4
      .colored-circle.colored-circle-subsection.colored-circle-subsection-center.tournament-blue
        %h5 General
        %h2 $50
    .span4#quinielas
      .colored-circle.colored-circle-middle-section.colored-circle-middle-section-center.tournament-blue
        %a{href: sign_up_path}
          %h2.expandable-h2 Arma tus quinielas
    .span4
      .colored-circle.colored-circle-subsection.colored-circle-subsection-center.tournament-blue
        %h5 High Roller
        %h2 $200
  .row-fluid.span12
    = image_tag "dots.png", class: "dots-image"
  .row-fluid

    .span4
    .span4
      .colored-circle.colored-circle-middle-section.colored-circle-middle-section-center.tournament-blue{style: "padding-left: 5px; padding-top: 57px;"}
        %a{href: ranking_score_boards_path}
          %h2.expandable-h2= t('welcome.punctuation')
    .span4

  .row-fluid
    .span4
      .colored-circle.colored-circle-section.colored-circle-section-center.special-section-circle.tournament-blue
        %h4= t('welcome.group_phase')
    .span4
      .colored-circle.colored-circle-section.colored-circle-section-center.special-section-circle.tournament-blue
        %h4= t('welcome.extra_phase')
    .span4
      .colored-circle.colored-circle-section.colored-circle-section-center.special-section-circle.tournament-blue
        %h4= t('welcome.second_phase')

  .row-fluid.special-row
    .span4
      .colored-circle.colored-circle-section.colored-circle-section-center.tournament-blue-light
        %h6= t('welcome.exact_score')
        %h5= "5 #{t('welcome.points')}"
    .span4
      .colored-circle.colored-circle-section.colored-circle-section-center.tournament-blue-light
        %h6= t('welcome.best_player')
        %h5= "7 #{t('welcome.points')}"
        
    .span4
      .span6
        .colored-circle.colored-circle-section.colored-circle-section-center.tournament-blue-light
          %h6= t('welcome.round_of_16') 
          %h5= "4 #{t('welcome.points')} #{t('welcome.for_each_team')}"
      .span6
        .colored-circle.colored-circle-section.colored-circle-section-center.tournament-blue-light
          %h6= t('welcome.quarter_finals')
          %h5= "5 #{t('welcome.points')} #{t('welcome.for_each_team')}"


  .row-fluid.special-row
    .span4
      .colored-circle.colored-circle-section.colored-circle-section-center.tournament-blue-light
        %h6= t('welcome.diff_goals')
        %h5= "4 #{t('welcome.points')}"
    .span4
      .colored-circle.colored-circle-section.colored-circle-section-center.tournament-blue-light
        %h6= t('welcome.red_card_team')
        %h5= "5 #{t('welcome.points')}"
    .span4
      .span6
        .colored-circle.colored-circle-section.colored-circle-section-center.tournament-blue-light
          %h6= t('welcome.semi_finals')
          %h5= "6 #{t('welcome.points')} #{t('welcome.for_each_team')}"
      .span6
        .colored-circle.colored-circle-section.colored-circle-section-center.tournament-blue-dark
          %h6= t('welcome.third_place')
          %h5= "7 #{t('welcome.points')}"

  .row-fluid.special-row
    .span4
      .colored-circle.colored-circle-section.colored-circle-section-center.tournament-blue-light
        %h6= t('welcome.winner')
        %h5= "3 #{t('welcome.points')}"
    .span4
      .colored-circle.colored-circle-section.colored-circle-section-center.tournament-blue-light
        %h6= t('welcome.penal')
        %h5= "3 #{t('welcome.points')}"
    .span4
      .span6
        .colored-circle.colored-circle-section.colored-circle-section-center.tournament-blue-dark
          %h6= t('welcome.sub_champion')
          %h5= "8 #{t('welcome.points')}"
      .span6
        .colored-circle.colored-circle-section.colored-circle-section-center.tournament-blue-dark
          %h6= t('welcome.champion')
          %h5= "9 #{t('welcome.points')}" 
  .row-fluid.span12
    = image_tag "dots.png", class: 'dots-image'

  .row-fluid.span12.blue-text#reglas
    %h4= t('welcome.rules')

    %p= t('welcome.rule_1') 
    %p= t('welcome.rule_2') 
    %p= t('welcome.rule_3') 
    %p= t('welcome.rule_4') 
    %p= t('welcome.rule_5')
    %p= t('welcome.rule_6')
    %p= t('welcome.rule_7')
    %p= t('welcome.rule_8')
    %p= t('welcome.rule_9')


- content_for(:javascript) do
  :coffeescript
    $('#view-more-link').click (e) ->
      e.preventDefault();
      $('#view-more').toggle()
    $(window).load ->
      $(".clickable").each(->
        $.data this, "size",
          width: $(this).width()
          height: $(this).height()

        return
      ).hover (->
        $(this).stop().animate
          height: $.data(this, "size").height * 1.1
          width: $.data(this, "size").width * 1.1

        return
      ), ->
        $(this).stop().animate
          height: $.data(this, "size").height
          width: $.data(this, "size").width
        return

      $(".clickable-header").each(->
        $.data this, "size",
          width: $(this).width()
          height: $(this).height()

        return
      ).hover (->
        $(this).stop().animate
          height: $.data(this, "size").height * 1.05
          width: $.data(this, "size").width * 1.05

        return
      ), ->
        $(this).stop().animate
          height: $.data(this, "size").height
          width: $.data(this, "size").width

        return

    # For smooth scroll
    $(".scroll").click (event) ->
      event.preventDefault()
      
      #calculate destination place
      dest = 0
      if $(@hash).offset().top > $(document).height() - $(window).height()
        dest = $(document).height() - $(window).height()
      else
        dest = $(@hash).offset().top
      
      #go to destination
      $("html,body").animate
        scrollTop: dest
      , 800, "swing"
      return



