%p Forgot Password
= form_for @user, :as => :user, :url => forgot_password_path, :method => :put do |f|
  %p
    = f.label 'email:'
    %br/
    = f.text_field :username
    = show_field_error(@user, :username)
  %p
    = f.submit 'Send Password Reset Instructions'