%h3= t('authentication.forgot_password')
= form_for @user, :as => :user, :url => forgot_password_path, :method => :put do |f|
  %p
    = f.label 'email:'
    %br/
    = f.text_field :username
    = show_field_error(@user, :username)
  %p
    = f.submit "#{t('general.send_instructions')}"