%h3= t('general.configuration')
= form_for @user, :as => :user, :url => password_reset_path, :method => :put do |f|
  %h4
    = "#{@user.username} #{t('authentication.has_requested')} #{t('authentication.please_enter_password')}"
    
  %p
    = f.label "#{t('authentication.new_password')}:"
    %br/
    = f.password_field :new_password
    = show_field_error(@user, :new_password)
  %p
    = f.hidden_field :username
    = f.label "#{t('authentication.confirm_new_password')}:"
    %br/
    = f.password_field :new_password_confirmation
    = show_field_error(@user, :new_password_confirmation)
  %p
    = f.submit "#{t('general.update')}"