%h3 Configuración de la cuenta
= form_for @user, :as => :user, :url => password_reset_path, :method => :put do |f|
  %p
    = @user.username
    ha solicitado un cambio de contraseña. Por favor ingrese su nueva contraseña:
  %p
    = f.label 'Nueva contraseña:'
    %br/
    = f.password_field :new_password
    = show_field_error(@user, :new_password)
  %p
    = f.hidden_field :username
    = f.label 'Confirmación de contraseña:'
    %br/
    = f.password_field :new_password_confirmation
    = show_field_error(@user, :new_password_confirmation)
  %p
    = f.submit 'Actualizar'