%h3 Configuración
= form_for @user, :as => :user, :url => password_reset_path, :method => :put do |f|
  %h4
    = @user.username
    ha solicitado su reinicio de contraseña. Por favor ingrese su nueva contraseña:
  %p
    = f.label 'Contraseña nueva:'
    %br/
    = f.password_field :new_password
    = show_field_error(@user, :new_password)
  %p
    = f.hidden_field :username
    = f.label 'Confirmar contraseña nueva:'
    %br/
    = f.password_field :new_password_confirmation
    = show_field_error(@user, :new_password_confirmation)
  %p
    = f.submit 'Actualizar'