.well
  %h3 Inicio de sesión
  = form_for @user, :as => :user, :url => sign_in_path(@user) do |f|
    %p
      = f.label 'Email:'
      %br/
      = f.text_field :email, required: true
    %p
      = f.label 'Contraseña:'
      %br/
      = f.password_field :password, required: true
    %p
      = f.submit 'Iniciar sesión'
      \   
      \#{f.submit 'Limpiar', :type => 'reset'}

    %p= link_to 'Olvidaste tu contraseña?', :forgot_password 