.well
  %h3 Crea tu cuenta
  = form_for @user, :as => :user, :url => sign_up_path, :method => :post  do |f|
    .form-group
      = f.label 'Nombre de usuario:'
      %br/
      = f.text_field :username, required: true
      = show_field_error(@user, :username)
      %p Este es el nombre que será visible públicamente
    .form-group
      = f.label 'Email:'
      %br/
      = f.text_field :email, required: true
      = show_field_error(@user, :email)
    .form-group
      = f.label 'Contraseña:'
      %br/
      = f.password_field :password, required: true
      = show_field_error(@user, :password)
    .form-group
      = f.label 'Confirme su contraseña:'
      %br/
      = f.password_field :password_confirmation, required: true
      = show_field_error(@user, :password_confirmation)
    %p
      = f.submit 'Crear cuenta'
      \   
      \#{f.submit 'Limpiar', :type => 'reset'}