%a.btn.btn-navbar(data-target=".nav-collapse" data-toggle="collapse")
  %span.icon-bar
  %span.icon-bar
  %span.icon-bar
.span3
  = image_tag "brasil-header.jpg", size: "200x100"
.span4
  %a(href= root_path)
    = image_tag "tuPote.png", size: "200x100", class: 'clickable-header'
.container.nav-collapse
  .span4
    %ul.nav.navbar-nav.navbar-right
      %li
        %p.white-text{style: "margin-top:20px;"}= t('general.follow_us')
      %li 
        %a{href: "#"}
          = image_tag "facebook.gif", size: "40x40"
      %li 
        %a{href: "#", style: "padding-top:15px;"}
          = image_tag "twitter.png", size: "40x43"
      - if current_user
        %li 
          %a{href: "#"}
            = current_user.username
        %li= link_to "#{t('menu.logout')}", signed_out_path
  .span7
    %ul.nav.navbar-nav.navbar-right
      - if current_user
        - if current_user.is_admin?
          %li= link_to "#{t('menu.official_results')}", tournament_score_board_path(current_tournament,main_score_board)
          %li= link_to "#{t('menu.score_boards_admin')}", show_all_score_boards_path
        - else
          %li= link_to "#{t('menu.your_boards')}", user_path(current_user)
          %li= link_to "#{t('menu.official_results')}", show_after_published_score_board_path(main_score_board)
        %li= link_to "#{t('menu.ranking')}", ranking_score_boards_path
        %li= # link_to "Estadios", "/path3"
      - else
        %li
          %a{href: "/#quinielas", class: 'scroll'}
            Comienza ahora
        %li= link_to "#{t('menu.current_ranking')}", ranking_score_boards_path
        %li
          %a{href: "/#reglas", class: 'scroll'}
            Reglas del torneo
        %li= link_to "#{t('menu.sign_in')}", sign_in_path

